@if(productQuery.isSuccess()){
<div class="flex flex-col lg:flex-row justify-center items-center w-full">
  <!-- IMAGE -->
  <div class="lg:me-5">
    <img
      [src]="
        'data:' +
        productQuery.data().pictures[0].mimeType +
        ';base64,' +
        productQuery.data().pictures[0].file
      "
      alt="{{ productQuery.data().name }}"
      width="500px"
      class="max-w-full lg:max-w-none"
    />
  </div>
  <!-- // IMAGE -->

  <!-- PRODUCT DETAILS -->
  <div class="w-full lg:w-auto">
    <h1 class="text-3xl font-bold">
      {{ productQuery.data().name }} - {{ productQuery.data().size }}
    </h1>
    @if(productQuery.data().nbInStock >0){
    <div class="text-green-500 text-lg">In stock</div>
    }@else {
    <div class="text-red-500 text-lg">Out of stock</div>
    } @if(productQuery.data().featured){
    <div class="rounded-md w-32 text-center border border-black my-5">
      Best seller
    </div>
    }
    <div class="text-2xl my-5">
      <span class="line-through me-2">{{
        productQuery.data().price + 200 | currency
      }}</span>
      <span class="me-2">{{ productQuery.data().price | currency }}</span>
    </div>
    <div>
      Brand: <span class="font-bold">{{ productQuery.data().brand }}</span>
    </div>
    <div class="flex items-center mt-1">
      <div class="me-1">Color:</div>
      <div
        class="w-5 h-5 rounded-full"
        [ngStyle]="{ 'background-color': productQuery.data().color }"
      ></div>
    </div>
    <div class="">
      Size: <span class="font-bold">{{ productQuery.data().size }}</span>
    </div>
    <div class="my-5 w-96">
      <h2 class="text-xl font-bold">Description</h2>
      {{ productQuery.data().description }}
    </div>
    <button
      class="btn btn-primary mt-5 w-full lg:w-64"
      [disabled]="productQuery.data().nbInStock <= 0"
      (click)="addToCart(productQuery.data())"
    >
      <fa-icon [icon]="['fas', iconAddToCart]" class="me-1"></fa-icon>
      {{ labelAddToCart }}
    </button>
  </div>
  <!-- // PRODUCT DETAILS -->
</div>

} @else if (productQuery.isPending()) {
<div class="flex justify-center w-full">
  <span class="loading loading-spinner loading-lg"></span>
</div>
}

<!-- RELATED PRODUCTS -->
<div class="mt-10">
  <h2 class="text-2xl font-bold mb-7 ms-4 sm:ms-0">Related Products</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8 sm:gap-5"
  >
    @for(product of relatedProductsQuery.data()?.content ; track
    product.publicId){
    <app-product-card [product]="product"></app-product-card>
    }
  </div>
</div>
<!-- // RELATED PRODUCTS -->
